<%-include('partials/head.ejs') %>

<!--Bootstrap Navbar included as partials-->
<%- include('partials/navbar.ejs')%>
<h1>Homepage by Anunay <%= 3+4 %></h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas esse dolores excepturi amet nesciunt, deserunt
    nihil quidem ex ut aperiam deleniti? Rerum soluta tempore adipisci totam fuga nulla, obcaecati delectus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolore mollitia in! Modi praesentium vel,
    eum animi blanditiis provident error ad fuga, quos velit debitis repudiandae perferendis impedit cumque
    repellat!</p>
<%- include('partials/footer.ejs')%>